<!DOCTYPE html>
<html>
    <head>
        <title>Jared's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Jared's Blog</a></h1>
        </header>
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>blah blah blah blah</p>
        </article>
        <article>
            <time>published: 14.08.2014, 13:14</time>
            <h2><a href="">My first post</a></h2>
            <p>blah blah blah blah</p>
        </article>
    </body>
</html>